/* Custom CSS Variables */
:root {
  --spacing: 2rem;
}

/* Grid */
main {
  padding: var(--spacing) 0;
}

/* Login CSS */
.team-logo {
  display: block;
  margin: 0 auto var(--spacing);
}

/* Game CSS */
#snake-game {
  margin: 0 auto;
  width: 100%;
}

/* Profile CSS */
.profile-action {
  margin-top: var(--spacing);
}