{% extends 'base.html' %}
{% block pageDescription %}
This is a user account page created by Team PASS: an undergraduate Gemstone research team from UMD studying
cybersecurity.
{% endblock %}
{% block title %}User Account{% endblock %}

{% block cardTitle %}
<div class="d-flex flex-row justify-content-between">
  <span>{{current_user.display_name}}'s Account</span>

  <form action="{{ url_for('logout') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary btn-block">Log Out</button>
  </form>
</div>
{% endblock %}

{% block cardBody %}
<p>
  <strong>High Score: </strong>
  <span>{{current_user.high_score}}</span>
</p>
<canvas width="400" height="400" id="snake-game" class="card"></canvas>

<footer>
  <a id="add-credential" class="btn btn-outline-primary btn-block profile-action {% if current_user.password_hash %}disabled{% endif %}" href="/add-password">Add Password</a>
  <a id="add-biometric" class="btn btn-outline-primary btn-block profile-action {% if current_user.credential_id %}disabled{% endif %}" href="/webauthn/registration/add-start">Add Biometric</a>
  <form action="{{ url_for('delete_account') }}" method="POST"
    onsubmit="return confirm('Do you really want to delete your account?');">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-outline-danger btn-block profile-action">Delete Account</button>
  </form>
</footer>

{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='scripts/snake-game.js') }}"></script>
{% endblock %}
