{% extends 'base.html' %}
{% block pageDescription %}
This is a registration page created by Team PASS: an undergraduate Gemstone research team from UMD studying
cybersecurity.
{% endblock %}
{% block title %}{% if current_user.is_authenticated %}Add Password{% else %}Registration{% endif %}{% endblock %}
{% block cardTitle %}{% if current_user.is_authenticated %}Add Password{% else %}Registration{% endif %}{% endblock %}

{% block cardBody %}
<!--Registration Form-->
<form id="registration-form" class="primary-form" method="POST" action="{% if current_user.is_authenticated %}/add-password{% else %}/register{% endif %}" timed-element timed-events="submit">

  <!-- CSRF Protection -->
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  {% if not current_user.is_authenticated %}
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" autocomplete="email" required timed-element />
    </div>
  {% endif %}

  <!-- Password inputs for registration -->
  <section id="password-inputs" class="collapse show">
    <div class="form-group">
      <label for="password">Password (must have at least 8 characters)</label>
      <input name="password" type="password" class="form-control" id="password" autocomplete="new-password" required timed-element />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input name="confirm-password" type="password" class="form-control" id="confirm-password" autocomplete="new-password" required timed-element />
    </div>
  </section>

  {% import 'components.html' as components %}
  {% if current_user.is_authenticated %}
    {{ components.form_footer('Back to profile', url_for('profile'), false) }}
  {% else %}
    {{ components.form_footer('Already have an account? Log in', url_for('login'), true) }}
  {% endif %}
</form>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='scripts/lib/utils.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/auth-method-toggler.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/register.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/interaction-logging.js') }}"></script>
{% endblock %}
