{% extends 'base.html' %}
{% block pageDescription %}
This is a FIDO login page created by Team PASS: an undergraduate Gemstone research team from UMD studying
cybersecurity.
{% endblock %}
{% block title %}FIDO Login{% endblock %}
{% block cardTitle %}FIDO Login{% endblock %}
{% block cardBody %}

<ul class="nav nav-tabs justify-content-center mb-3" role="tablist">
  <li class="active nav-item">
    <a class="nav-link active" data-toggle="tab" href="#password-login-menu">Use a Password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#biometric-login-menu">Use your Biometrics</a>
  </li>
</ul>
<div class="tab-content">
  <div id="password-login-menu" class="tab-pane active">
    <!--Login Form using password-->
    <form id="password-login-form" method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="email" class="form-control" id="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" required />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <small class="form-text text-muted">Don't have an account? Register
        <a href="{{ url_for('register') }}">here</a>
      </small>
    </form>
  </div>
  <div id="biometric-login-menu" class="tab-pane fade">
    <!--Login Form using password-->
    <form id="biometric-login-form" method="POST">
      <div class="form-group">
        <label for="biometric">Biometric</label>
        <input name="biometric" type="text" class="form-control" id="biometric" required />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <small class="form-text text-muted">Don't have an account? Register
        <a href="{{ url_for('register') }}">here</a>
      </small>
    </form>
  </div>
</div>

{% endblock %}
{% block customJS %}
<script src="https://cdn.jsdelivr.net/npm/webauthn-simple-app/dist/webauthn-simple-app.umd.js"></script>
<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}