<!--
    Displays any errors or messages flashed by Flask (see 
    https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/?highlight=flashing)
-->
{% macro alert_list(filter, alert_class) -%}
    {% with messages = get_flashed_messages(category_filter=[filter]) %}
        {% if messages %} 
            {%- for msg in messages %}
                <div class="alert {{ alert_class }}" role="alert">
                    {{ msg }}
                </div>
            {% endfor -%} 
        {% endif %} 
    {% endwith %}
{%- endmacro %}

{% macro flasher() -%}
    <div>
        {{ alert_list('error', 'alert-danger')}}
        {{ alert_list('message', 'alert-success')}}
    </div>
{%- endmacro %}