{% extends 'base.html' %}
{% block pageDescription %}
This is a user account page created by Team PASS: an undergraduate Gemstone research team from UMD studying
cybersecurity.
{% endblock %}
{% block title %}User Account{% endblock %}
{% block cardTitle %}{{session.email}}'s Account{% endblock %}

{% block cardBody %}
<p>
  <strong>Favorite number:</strong>
  <span id="fav-num">{{favorite_number}}</span>
</p>
<canvas width="400" height="400" id="snake-game" class="card"></canvas>
<a class="btn btn-primary logout" role="button" href="{{ url_for('logout') }}">Log Out</a>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='scripts/snake-game.js') }}"></script>
{% endblock %}