{% extends 'base.html' %}
{% block pageDescription %}
This is a FIDO account recovery page created by Team PASS: an undergraduate Gemstone research team from UMD studying
cybersecurity.
{% endblock %}
{% block title %}Account Recovery{% endblock %}
{% block cardTitle %}Account Recovery{% endblock %}
{% block cardBody %}

<!-- Login Form -->
<form id="login-form" class="primary-form" method="POST" timed-element timed-events="submit">

  <!-- CSRF Protection -->
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div class="form-group">
    <label for="email">Email address</label>
    <input name="email" type="email" class="form-control" id="email" autocomplete="email" required timed-element />
  </div>

  <section class="d-flex justify-content-between align-items-center">
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
  </section>
  <small class="form-text text-muted">
    No account? Register
    <a href={{url_for('register')}}>here</a>
  </small>
  <small class="form-text text-muted">
    Remember your password? Login
    <a href={{url_for('login')}}>here</a>
  </small>
</form>

{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='scripts/lib/utils.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/auth-method-toggler.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/interaction-logging.js') }}"></script>
{% endblock %}
