/* Custom CSS Variables */
:root {
  --spacing: 1.5rem; /* Fallback value if clamp isn't supported */
  --spacing: clamp(1rem, 3vw, 2rem);
  --std-timing: 200ms ease-in-out;
  --fully-rounded-br: 1000px;
  /* Arbitrarily large border radius value */
}

/* Grid */
main {
  padding: var(--spacing) 0;
}

/* Auth CSS */
.team-logo {
  display: block;
  margin: 0 auto var(--spacing);
}

/* Auth Method Toggling */
#auth-method-toggler {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

#auth-method-toggler:focus .switch-track {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.switch-track,
.roller,
.icon {
  --track-height: 2rem;
  --track-padding: 0.2rem;
  --track-width: calc(var(--track-height) * 2);
  --roller-height: calc(var(--track-height) - 2 * var(--track-padding));
  --roller-offset: calc(50% - var(--roller-height) / 2);
  --track-color: #e4ecfa;
  --roller-color: white;
}

.switch-track {
  height: var(--track-height);
  width: var(--track-width);
  background-color: var(--track-color);
  border-radius: var(--fully-rounded-br);
  padding: var(--track-padding);

  /* Needed to absolutely position the roller relative to the track */
  position: relative;
  transition: background-color var(--std-timing);
  cursor: pointer;
}

.roller {
  position: absolute;
  top: var(--roller-offset);
  left: var(--track-padding);
  height: var(--roller-height);
  width: var(--roller-height);

  /* Fully rounds the roller */
  border-radius: 100%;
  background-color: var(--roller-color);
  transition: left var(--std-timing);

  /* Position the image inside the roller in the center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: calc(var(--roller-height) * 0.8);

  /* Don't allow the icon from being selected or receiving click events */
  pointer-events: none;
  user-select: none;
}

#auth-method-toggler.collapsed .switch-track {
  /* Use the primary color when biometrics are active */
  background-color: var(--primary);
}

#auth-method-toggler.collapsed .roller {
  /* Move the roller to the other side of the switch track when it is clicked */
  left: calc(var(--track-width) - var(--roller-height) - var(--track-padding));
}

#auth-method-toggler img.biometric,
#auth-method-toggler.collapsed img.password {
  /* Display the password image when biometrics aren't being used */
  display: none;
}

#auth-method-toggler img.password,
#auth-method-toggler.collapsed img.biometric {
  /* Display the biometrics image when biometrics are being used */
  display: initial;
}

/* Game CSS */
#snake-game {
  margin: 0 auto;
  width: 100%;
}

/* Profile CSS */
.profile-action {
  margin-top: var(--spacing);
}